<template name="navbar">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{pathFor 'home'}}">@hablemosquechua</a>
        {{#if currentUser}}
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Diccionarios <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'diccionarioCreate'}}">Nuevo</a></li>
                <li><a href="{{pathFor 'diccionarioList'}}">Listar</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Frases <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'conjuntoFrasesCreate'}}">Nuevo conjunto</a></li>
                <li><a href="{{pathFor 'conjuntoFrasesList'}}">Listar conjuntos</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Preguntas <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'conjuntoPreguntasCreate'}}">Nuevo conjunto</a></li>
                <li><a href="{{pathFor 'conjuntoPreguntasList'}}">Listar conjuntos</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Schedule <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'scheduleCreate'}}">Nuevo</a></li>
                <li><a href="{{pathFor 'scheduleList'}}">Listar</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Tweets <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'tweetsProgramar'}}">Programar</a></li>
                <li><a href="{{pathFor 'calendarioShow'}}">Ver calendario</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Traducciones <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'conjuntoTraduccionesCreate'}}">Nuevo conjunto</a></li>
                <li><a href="{{pathFor 'conjuntoTraduccionesList'}}">Listar conjuntos</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav">
          <li><a href="{{pathFor 'followerList'}}">Followers</a></li>
        </ul>
        {{/if}}
        <div class="pull-right navbar-text">
          {{loginButtons align="right"}}
        </div>
      </div>
    </div>
  </div>
</template>
